// Call to action type 1
.call-to-action-type-1 {
  .title {
	font-weight: 600;
	margin-bottom: 10px;
	text-align: center;
	@media(max-width: $sm) {
	  font-size: 26px;
	}
  }
  
  .message {
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	max-width: 600px;
	text-align: center;
	@media(max-width: $sm) {
	  margin-bottom: 20px;
	}
  }
}