.hs-responsive-embed {
  height: 0;
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  position: relative;
}

.hs-responsive-embed iframe,
.hs-responsive-embed object,
.hs-responsive-embed embed {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.hs-responsive-embed,
.hs-responsive-embed.hs-responsive-embed-youtube,
.hs-responsive-embed.hs-responsive-embed-wistia,
.hs-responsive-embed.hs-responsive-embed-vimeo {
  padding-bottom: 56.25%;
}