// Pricing table type 1
.pricing-table-type-1 {
  background-repeat: repeat;
  
  .pricing-table-wrapper {
	margin-bottom: 30px;
	
	.pricing-table {
	  background-color: $white;
	  box-shadow: 0 4px 20px var(--box-shadow-boxes);
	  padding: 50px 25px;
	  position: relative;
	  @media(max-width: $md) {
		padding: 30px 25px;
	  }
	  
	  .pricing-header {
		border-bottom: 1px solid var(--default-border);
		margin-bottom: 30px;
		padding-bottom: 30px;
		
		.pricing-type {
		  margin-bottom: 15px;
		}
		
		.price {
		  font-size: 56px;
		  font-weight: 500;
		  line-height: 1;
		  margin-left: 15px;
		  position: relative;
		  
		  span {
			font-size: 14px;
			left: -15px;
			position: absolute;
			top: 0;
		  }
		}
		
		.best-value {
		  background-color: var(--primary-color);
		  border-radius: 5px;
		  color: $white;
		  font-family: var(--secondary-font);
		  font-size: 11px;
		  padding: 5px 8px;
		  position: absolute;
		  right: 20px;
		  text-transform: uppercase;
		  top: 20px;
		}
	  }
	  
	  .features-list {
		li {
		  line-height: 1;
		  
		  p {
			font-family: var(--secondary-font);
			opacity: 0.8;
		  }
		}
		
		li:not(:last-child) {
		  margin-bottom: 20px;
		}
	  }
	  
	  .btn-wrapper {
		margin-top: 40px;
		
		a {
		  background-color: var(--primary-color);
		  border-radius: 5px;
		  color: $white;
		  font-family: var(--secondary-font);
		  font-size: 12px;
		  overflow: hidden;
		  padding: 12px 15px;
		  position: relative;
		  z-index: 10;
		}
		
		a:hover:after {
		  border-radius: 0;
		  left: 0;
		  top: 0;
		}
		
		a:after {
		  background-color: $black;
		  border-radius: 100%;
		  content: ' ';
		  display: block;
		  height: 100%;
		  left: -100%;
		  opacity: 0.1;
		  position: absolute;
		  top: 100%;
		  transition: all .3s ease-in-out;
		  width: 100%;
		  z-index: -1;
		}
	  }
	}
  }
  
  .active-card {
	transform: scale(1.08);
	@media(max-width: $lg) {
	  transform: scale(1);
	}
	
	.pricing-table {
	  box-shadow: 0 6px 25px var(--box-shadow-boxes);
	  
	  .price {
		color: var(--primary-color);
	  }
	}
  }
}

// Pricing table type 2
.pricing-table-type-2 {
  .pricing-table-wrapper {
	margin-bottom: 30px;
	
	.pricing-table {
	  background-color: $white;
	  position: relative;
	  
	  .pricing-header {
		padding: 20px;
		
		.price {
		  color: $white;
		  font-size: 48px;
		  font-weight: 400;
		  line-height: 1;
		  margin-left: 15px;
		  position: relative;
		  
		  span {
			font-size: 14px;
			left: -15px;
			position: absolute;
			top: 0;
		  }
		}
		
		.pricing-type {
		  color: $white;
		  margin-bottom: 10px;
		  opacity: 0.8;
		}
		
		.best-value {
		  background-color: $white;
		  border-radius: 5px;
		  color: var(--black-color);
		  font-family: var(--secondary-font);
		  font-size: 11px;
		  padding: 5px 8px;
		  position: absolute;
		  right: 10px;
		  text-transform: uppercase;
		  top: 10px;
		}
	  }
	  
	  .pricing-body {
		box-shadow: 0 4px 20px var(--box-shadow-boxes);
		padding: 20px;
		
		.features-list {
		  li {
			line-height: 1;
			
			p {
			  font-family: var(--secondary-font);
			  opacity: 0.8;
			}
		  }
		  
		  li:not(:last-child) {
			margin-bottom: 20px;
		  }
		}
		
		.btn-wrapper {
		  margin-top: 40px;
		  
		  a {
			background-color: var(--primary-color);
			border-radius: 5px;
			color: $white;
			font-family: var(--secondary-font);
			font-size: 12px;
			overflow: hidden;
			padding: 12px 15px;
			position: relative;
			z-index: 10;
		  }
		  
		  a:hover:after {
			border-radius: 0;
			left: 0;
			top: 0;
		  }
		  
		  a:after {
			background-color: $black;
			border-radius: 100%;
			content: ' ';
			display: block;
			height: 100%;
			left: -100%;
			opacity: 0.1;
			position: absolute;
			top: 100%;
			transition: all .3s ease-in-out;
			width: 100%;
			z-index: -1;
		  }
		}
	  }
	  
	  .pricing-header-size-1 {
		height: 120px;
		@media(max-width: $lg) {
		  height: 140px;
		}
	  }
	  
	  .pricing-header-size-2 {
		height: 135px;
		@media(max-width: $lg) {
		  height: 140px;
		}
	  }
	  
	  .pricing-header-size-3 {
		height: 150px;
		@media(max-width: $lg) {
		  height: 140px;
		}
	  }
	  
	  .pricing-header-size-4 {
		height: 165px;
		@media(max-width: $lg) {
		  height: 140px;
		}
	  }
	}
  }
}