// Tabs type 1
.tabs-section-type-1 {
  .tabs-wrapper {
	.tabs-header {
	  border-bottom: 1px solid var(--default-border);
	  margin-bottom: 40px;
	  margin-left: 15px;
	  margin-right: 15px;
	  position: relative;
	  top: -1px;
	  width: 100%;
	  @media(max-width: $lg) {
		border-bottom: none;
		flex-wrap: wrap;
		justify-content: center;
		margin-bottom: 15px;
		margin-left: 10px;
		margin-right: 10px;
		padding: 0;
	  }
	  @media(max-width: $sm) {
		margin-bottom: 0;
		margin-left: 15px;
		margin-right: 15px;
	  }
	  
	  .tab-trigger-wrapper {
		padding: 0;
		@media(max-width: $lg) {
		  width: 50%;
		}
		@media(max-width: $sm) {
		  width: 100%;
		}
		
		.tab-trigger {
		  background-color: var(--gray-section);
		  border: 1px solid var(--default-border);
		  border-top-left-radius: 5px;
		  border-top-right-radius: 5px;
		  bottom: -1px;
		  cursor: pointer;
		  font-size: 14px;
		  font-weight: 600;
		  margin-right: 15px;
		  padding: 15px 20px;
		  position: relative;
		  text-align: center;
		  transition: all .3s ease-in-out;
		  @media(max-width: $xl) {
			font-size: 13px;
			padding: 10px 15px;
		  }
		  @media(max-width: $lg) {
			border-radius: 5px;
			margin-bottom: 10px;
			margin-left: 5px;
			margin-right: 5px;
		  }
		  @media(max-width: $md) {
			font-size: 12px;
		  }
		  @media(max-width: $sm) {
			margin-left: 0;
			margin-right: 0;
		  }
		}
		
		.active {
		  border-bottom: 1px solid transparent;
		  color: var(--primary-color);
		  @media(max-width: $lg) {
			background-color: var(--primary-color);
			border-bottom: 1px solid var(--default-border);
			color: $white;
		  }
		}
	  }
	}
	
	.tabs-body-wrapper {
	  margin: 0 15px;
	  position: relative;
	  
	  .tab-body {
		transition: all .3s ease-in-out;
		
		.tab-side {
		  display: flex;
		  padding-left: 0;
		  padding-right: 0;
		  
		  .title {
			font-weight: 600;
			margin-bottom: 15px;
			@media(max-width: $lg) {
			  font-size: 26px;
			  margin-bottom: 10px;
			}
			@media(max-width: $md) {
			  font-size: 24px;
			  margin-bottom: 5px;
			}
		  }
		  
		  .img-wrapper {
			border-radius: 5px;
			overflow: hidden;
		  }
		  
		}
		
		.left-side {
		  padding-right: 15px;
		  
		  .title {
			text-align: right;
			@media(max-width: $lg) {
			  text-align: center;
			}
		  }
		  
		  .description {
			text-align: right;
			@media(max-width: $lg) {
			  text-align: center;
			}
		  }
		  
		  @media(max-width: $lg) {
			padding-right: 0;
		  }
		}
		
		.right-side {
		  padding-left: 15px;
		  
		  .title {
			text-align: left;
			@media(max-width: $lg) {
			  text-align: center;
			}
		  }
		  
		  .description {
			text-align: left;
			@media(max-width: $lg) {
			  text-align: center;
			}
		  }
		  
		  @media(max-width: $lg) {
			padding-left: 0;
		  }
		}
		
		.image-side {
		  @media(max-width: $lg) {
			margin-bottom: 20px;
			order: 1;
		  }
		}
		
		.content-side {
		  @media(max-width: $lg) {
			order: 2;
		  }
		}
	  }
	  
	  .tab-body:not(.active-body) {
		left: 0;
		opacity: 0;
		position: absolute;
		top: 0;
	  }
	  
	  .active-body {
		position: relative;
	  }
	}
  }
}

// Tabs type 2
.tabs-section-type-2 {
  .tabs-wrapper {
	.tabs-header {
	  border-bottom: 1px solid var(--default-border);
	  flex-wrap: wrap;
	  margin-bottom: 25px;
	  padding: 0 0 30px 0;
	  position: relative;
	  width: 100%;
	  @media(max-width: $lg) {
		margin-bottom: 20px;
		padding-bottom: 25px;
	  }
	  @media(max-width: $md) {
		margin-bottom: 15px;
		padding-bottom: 0;
	  }
	  
	  .tab-trigger-wrapper {
		margin-left: 20px;
		margin-right: 20px;
		padding: 0;
		@media(max-width: $md) {
		  margin-bottom: 20px;
		  margin-left: 15px;
		  margin-right: 15px;
		  width: 35%;
		}
		
		.tab-trigger {
		  align-items: center;
		  cursor: pointer;
		  display: flex;
		  flex-direction: column;
		  
		  i {
			color: var(--black-color);
			font-size: 28px;
			margin-bottom: 25px;
			text-align: center;
			transition: all .2s ease-in-out;
			@media(max-width: $md) {
			  font-size: 24px;
			  margin-bottom: 20px;
			  margin-top: 15px;
			}
		  }
		  
		  h6 {
			color: var(--black-color);
			font-size: 12px;
			letter-spacing: 0.5px;
			text-align: center;
			text-transform: uppercase;
			transition: all .2s ease-in-out;
		  }
		}
		
		.active {
		  i {
			color: var(--primary-color);
			opacity: 1;
		  }
		  
		  h6 {
			color: var(--primary-color);
			opacity: 1;
		  }
		}
	  }
	}
	
	.tabs-body-wrapper {
	  position: relative;
	  
	  .tab-body {
		transition: all .3s ease-in-out;
	  }
	  
	  .tab-body:not(.active-body) {
		left: 0;
		opacity: 0;
		position: absolute;
		top: 0;
		transform: translateY(50%);
	  }
	  
	  .active-body {
		opacity: 1;
		position: relative;
		transform: translateY(0%);
	  }
	}
  }
}